@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    font-family: Rubik !important;
}

body {
    background-image: url('/static/images/background.jpg');  /* corrected path */
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: brightness(70%);
    background-position: center;
    min-height: 100vh;
}

header {
    position: sticky;
    top: 0;
    z-index: 999;
}

.grad-saf-blue {
    background: #1c92d2 !important;
    background: linear-gradient(to right, #FF9933, #003366b9) !important;
}

.grad-saf-blue-left {
    background: #1c92d2 !important;
    background: linear-gradient(to left, #ff9933bc, #003366) !important;
}

.bg-saffron {
    background-color: #FF9933 !important;
}

.bg-blue {
    background-color: #003366 !important;
}

.text-saffron {
    color: #FF9933 !important;
}

.text-blue {
    color: #003366 !important;
}

.border-saffron {
    border: 3px solid #FF9933 !important;
}

input[type=text],
input[type=password] {
    width: 100%;
    border-radius: 5px;
    border: 2px solid #FF9933;
    font-weight: lighter;
    padding: 5px 10px;
}

select {
    margin-left: auto !important;
    width: 60%;
    border-radius: 5px;
    padding: 5px 10px;
    border: 2px solid #FF9933;
    font-weight: lighter;
}

input:focus {
    outline: none;
}

footer {
    margin-top: auto;
}

.zebra-list li {
    padding-left: 1rem !important;
    padding-right: .5rem !important;
    margin-right: .5rem !important;
    border: none;
}

.zebra-list li:nth-child(even) {
    background: #ffffff24 !important;
}

#notification-panel::-webkit-scrollbar {
    width: 10px;
}

#notification-panel::-webkit-scrollbar-track {
    background: #ffffff23;
    width: 10px;
    border-radius: 10px;
}

#notification-panel::-webkit-scrollbar-thumb {
    background-color: #ffffffb9;
    border-radius: 10px;
    transition: 1s;
}

#notification-panel::-webkit-scrollbar-thumb:hover {
    background-color: #ffffffcc;
}

#quick-info {
    width: 200px;
}

@media (max-width: 992px) {
    #login-section {
        width: 100%;
    }

    #quick-info {
        width: 100%;
    }
}
